/* id selector - precedence 1*/
/* #heading-id {
    color: rgb(255, 81, 246);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
} */

/* class selector precedence 2 */
/* .heading-default {
    color: rgb(23, 81, 239);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
} */

/* element selector - precedence 3 */
/* h1 {
    color: rgba(255, 84, 84, 0.96);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
} */

/* grouping selectors  */
/* h1, p ,#heading-default, .heading-group{
    text-align: center;
    color: blueviolet;
    text-align: center;
}  */

/* box model */
/* h1 {
    padding: 10px;
    border: darkblue;
    border-style: solid;
    border-width: 5px;
    margin: 5px;
    margin-top: 9px;
} */

/* positioning of elements */
/* .fixed-pos{
    position: absolute;
    top: 10px;
    bottom: 20px;
} */


/* universal selector -> "*" */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: rgb(23, 23, 23); */
}

/* combination selectors */
/* child selector */
/* div h1{
    color: rgb(45, 45, 255);
} */

/* div .para{
    color: rgb(45, 45, 255);
} */

/* sibling selctor */
/* div + h1{
    color: cadetblue;
} */

/* consequest sibling selct */
/* div ~ h1{
    color: blue;
} */

/* .para{
    display: block;
    color: rgba(0, 0, 0, 0.88);
} */

/* pseudo-class */
a:hover {
    cursor: help;
    color: chartreuse;
}

a:active{
    color: blueviolet;
}

.btn-hover:hover {
    color: aquamarine;
    border-radius: 20%;
}

/* pseudo-elements */
/* .para::first-letter {
    font-size: xx-large;
} */

/* p{
    display: none;
}
h1:hover + p{
    display: block;
} */

/* animations in CSS */
@keyframes anim1{
    from {background-color: red;}
    to {background-color: aquamarine;}
}
@keyframes anim2{
    from {transform: translateX(0);}
    to {transform: translateX(50%);}
}

h1 {
    background-color: red;
    animation-name: anim2;
    animation-duration: 5s;
    animation-iteration-count: 10;
}